<div class="jumbotron jumbotron-fluid bg-primary">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-md-4">
        <div class="card">
          <div class="card-body">
            <h5>Sign in / sign up Form</h5>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="card-body">
            <h5>Url shortener Form</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
